- @question.answers.each do |answer|
 div= answer.body
 - if user_signed_in? && current_user.id == answer.user_id
    = link_to 'Delete answer',answer_path(answer), id: "delete_answer_#{ answer.id }", method: :delete